@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
  position: absolute;

  background-color: #eeeded;
  width: var(--sidebar-width);
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  transition: all 0.5s ease;
}

#sidebar.open {
  left: calc(var(--sidebar-width) * -1);
}

#sidebar.closed {
  left: 0;
}

#sidebar p {
  padding: 0 24px;
  text-align: left;
  font-family: sans-serif;
}

.sidebar-toggle {
  position: fixed;
  right: 4.7px;
  top: 4rem;
  visibility: visible;
  /*z-index: 2147483647;*/
}

.drawer-overlay {
  background-color: #eeeded;
}
