@tailwind base;
@tailwind components;
@tailwind utilities;



#secretaire-sidebar {
  position: absolute;
  background-color: #eeeded;
  width: var(--sidebar-width);
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  /*TODO: 根据宽度实时计算，最好弄到svelte代码里面去 */
  transition: all 0.5s ease;
}

#secretaire-sidebar.open {
  left: initial;
  right:0;
}

#secretaire-sidebar.closed {
  left: 0;
  right: initial;
}

#secretaire-sidebar p {
  padding: 0 24px;
  text-align: left;
  font-family: sans-serif;
}

.sidebar-toggle {
  position: fixed;
  right: 4.7px;
  top: 4rem;
  visibility: visible;
  z-index: 2147483647;
}

.drawer-overlay {
  background-color: #eeeded;
}
