@tailwind base;

:root,
#secretaire-sidebar:host {
  --sidebar-width: 420px;
}

body.secretaire-sidebar-show,
body.secretaire-sidebar-show * {
  max-width: calc(100vw - var(--sidebar-width));
  min-width: var(--sidebar-width);
}

#secretaire-sidebar {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
}
